*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
body h1{
    font-family: "Papyrus", 'fantasy';
    font-size:1.5cm;
}
.menu-bar{
    background-color:#6f8741;
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:antiquewhite;
}
.menu-bar ul li{
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-style:inset;
}
.menu-bar ul li a{
    text-decoration: none;
    color:antiquewhite;
}
.active, .menu-bar ul li:hover{
    background-color:#80b074;
    border-radius: 2px;
}
#para1{
    background-color:cornsilk;
    height: 2pc;
    width: 8pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para1-5{
    background-color:cornsilk;
    height: 5pc;
    width: 52pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para2{
    background-color:cornsilk;
    height: 2pc;
    width: 5pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para2-5{
    background-color:cornsilk;
    height: 6pc;
    width: 52pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para3{
    background-color:cornsilk;
    height: 2pc;
    width: 11pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para3-5{
    background-color:cornsilk;
    height: 7pc;
    width: 53pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para4{
    background-color:cornsilk;
    height: 2pc;
    width: 12pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para4-5{
    background-color:cornsilk;
    height: 8pc;
    width: 53pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para5{
    background-color:cornsilk;
    height: 2pc;
    width: 5pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}
#para5-5{
    background-color:cornsilk;
    height: 7pc;
    width: 53pc;
    display: inline-flex;
    position: static;
    color: black;
    padding: 1px;
}